<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<a href="{% url 'product_list' %}">Home</a>
<a href="{% url 'delivered_page' %}">Delivered list</a>
{% for order in orders %}
	<p>
    <a href="{% url 'order' order.pk %}">{{ order }}</a> - {% if order.status == 'Delivered' %}
    	♥
    {% else %}
        <a href="{% url 'delivered' order.pk%}">Доставлен</a>
    {% endif %}
    </p>
{% endfor %}

</body>
</html>